body{
    background-image:url(./img/logo_ROCM_RGB_WEB.jpg.crdownload);
}
h1{

}
.row{
    clear: both;
}
ul{
background-color: gray;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
display: flex;
flex-direction: row;
justify-content: left;
}
img{
    height: 105px;
    width: 80px;
    
}
li{
    float: left;
    text-align: center;
    padding: 25px;
    margin: 10px;
}
li a {
    color:black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 30px;
}
li a:hover{
    color: black;
    background-color: blanchedalmond;
}
.card{
    float: left;
    border: gray groove 2px;
    height: 330px;
    width: 220px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}
.modal-container{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.modal{
    background-color: #fefefe;
    margin: 15% auto;
    padding :20px;
    border-radius: 5px;
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}